BasedOnStyle: Microsoft
ColumnLimit: 0
IndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Attach
PointerAlignment: Right
AlignAfterOpenBracket: DontAlign
AlwaysBreakTemplateDeclarations: No
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 0
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
AllowShortIfStatementsOnASingleLine: false
SortIncludes: true
ReflowComments: false
SpaceBeforeParens: Never
SpaceBeforeRangeBasedForLoopColon: false
BreakBeforeInheritanceComma: false
UseCRLF: false
BinPackArguments: false
SpaceBeforeInheritanceColon: false
IndentCaseLabels: true
IndentCaseBlocks: false
Cpp11BracedListStyle: true
#PackConstructorInitializers: CurrentLine
IndentAccessModifiers: false
AllowAllArgumentsOnNextLine: true
SpaceBeforeCaseColon: false
AllowAllConstructorInitializersOnNextLine: true
SpaceAfterLogicalNot: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentGotoLabels: true


#LanguageStandard: Latest
