[submodule "cmake/Boilerplate"]
	path = cmake/Boilerplate
	url = https://codeberg.org/KOLANICH-libs/Boilerplate.cmake
	branch = master
[submodule "cmake/DoxygenUtils"]
	path = cmake/DoxygenUtils
	url = https://codeberg.org/KOLANICH-libs/DoxygenUtils.cmake
	branch = master
